extends layout

block content
	div.top
		h1 Welcome to SmartCards, #{userlist[0].username}!
	
	div.container
		h2: u Your Card Decks
			table
				each deck, i in decklist
					tr
						td: a(href="/viewdeck/#{deck.name}") #{deck.name}
						td: a(href="/deletedeck/#{deck.name}") Delete Deck
			
			#adddeck
				b: u Create New Deck
				form(name="newdeck", action="/adddeck", method="post")
					input.input-large( type="text", name="deckname", placeholder="Deck Name" style="margin-top:10px; margin-right: 10px;")
					input.btn-primary.btn(type="submit")

	div.footer
		