doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
		script(src='/lib/bootstrap/js/bootstrap.min.js')
	body
		block content
		div.top
			div.navbar.navbar-default.navbar-static-top(role="navigation") 
				div.container-fluid
					div.navbar-header
						button.navbar-toggle(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
							span.sr-only 
								Toggle Navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navabar-brand(href="#")

					div.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
						ul.nav.navbar-nav.navbar-right
							li: a(href="#") Link
							li.dropdown
								a.dropdown-toggle(href="#" data-toggle="dropdown") Dropdown 
									b.caret
								ul.dropdown-menu
									li: a(href="#") Action
									li: a(href="#") Something Else
									li.divider
									li: a(href="#") Separated Action