body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: silver;
}

a {
  color: #00B7FF;
}

.top {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 25px;
	height: 150px;
	background-color: green;
	width: 100%;
}

.container {
	background-color: yellow;
	width: 100%;
	position: fixed;
	top: 190px;
	bottom: 30px;
	left: 0;
	right: 0;
	padding: 25px;
	overflow: auto;
}

.footer {
	width: 100%;
	background-color: blue;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 30px;
}

tr td {
	padding-right: 50px;
}

tr.columns td {
	border-bottom:1pt solid black;
}

#adddeck, #addcard {
	padding-top: 25px;
}

#backToDeckList{
	padding-bottom: 20px;
}

tr.runBtn td{
	padding-top: 20px;
}